:root {
  --background: #252827;
  --color-primary: #fff3c7;
  --color-light: #fff3c7;
  --color-dim: #fff3c7;
  --spacing: 50px;
  --radius: 4px;
  --date: 120px;
  --dotborder: 4px;
  --dot: 11px;
  --line: 4px;
}

.education-header {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  color: #fff3c7;
  font-size: 35px;
  font-weight: 400;
}

.extra-header{
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  color: #fff3c7;
  font-size: 35px;
  font-weight: 400;
}

.education-extracurii {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.education{
   margin-left: 140px;
 }

.timeline {
  border-left: var(--line) solid var(--color-primary);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  color: #fff3c7;
  font-family: "Montserrat", sans-serif;
  margin: var(--spacing) auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: var(--spacing);
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 83%;
}

.education-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  /* font-weight: 400; */
  font-size: 1.4em;
  
}

.event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: calc(var(--spacing) * 0.5);
  margin-bottom: var(--spacing);
  position: relative;

  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    top: 0;
  }

  &:before {
    left: calc(
      (
          (var(--date) * 1.6) + var(--spacing) + var(--line) + var(--dot) +
            (var(--dotborder) * -12)
        ) * -1
    );
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: var(--date);
    font-family: "Montserrat", sans-serif;
  }

  &:after {
    box-shadow: 0 0 0 var(--dotborder) #fff3c7;
    left: -58px;
    background: rgba(38, 41, 45, 0.05);
    border-radius: 50%;
    height: var(--dot);
    width: var(--dot);
    content: "";
    top: 5px;
  }
}

.edu-descr{
   color: #fff3c7;
   letter-spacing: 1.2px;
   line-height: 23px;
}

.extracurricular {
  margin-left: 150px;
  flex: 1; 
  margin-right: 50px;
}

.extracurricular-item h2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
  color: #fff3c7;
  margin-left: 19px;
  line-height: 36px;
}

.extracurricular-item {
  letter-spacing: 0.6px;
  color: #fff3c7;
  font-family: "Montserrat", sans-serif;
}

.extracurricular-container {
  margin-top: 52px;
}

.extracurricular-item hr {
  border: none;
  height: 4px;
  background-color: var(--color-primary);
  margin-top: -6px;
  margin-bottom: 10px;
  width: calc(100% - 37px);
}

@media (max-width: 768px) {
  .education-extracurii{
    display: flex;
    flex-direction: column;
  }

  .education-header {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    color: #fff3c7;
    letter-spacing: 1px;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin-left: -140px;
  }
  
.timeline{
    max-width: 100%; 
    font-size: 0.9em; 
    margin-left: -126px;
    /* border-left: none;  */
}

&:before {
  left: calc(
    (
        (var(--date) * 1.6) + var(--spacing) + var(--line) + var(--dot) +
          (var(--dotborder) * -12)
      ) * -1
  );
}

.extra-header {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: #fff3c7;
  letter-spacing: 1px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  
}

.extracurricular{
  margin-left: 0;
}

}