.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .cert-card {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 22em;
    max-width: 90%;
    padding: 2em 0;
    background: linear-gradient(
        170deg,
        rgba(58, 56, 56, 0.623) 0%,
        rgb(31, 31, 31) 100%
      );
    box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
    transition: all 0.35s ease;
    
  }
  
  .cert-card::before, .cert-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff3c7;
    height: 4px;
  }
  
  .cert-card::before {
    width: 0;
    opacity: 0;
    transition: opacity 0 ease, width 0 ease;
    transition-delay: 0.5s;
  }
  
  .cert-card::after {
    width: 100%;
    background: #fff3c7;
    transition: width 0.5s ease;
  }
  
  .cert-card .cert-content {
    width: 18em;
    max-width: 80%;
  }
  
  .cert-card .cert-logo {
    margin: 0 0 1em;
    width: 10.625em;
    transition: all 0.35s ease;
    font-family: "Montserrat", sans-serif;
    color: #fff3c7;
    font-weight: 700;
  }
  
  .cert-card .cert-title {
    color: #fff3c7;
    /* font-weight: 600; */
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1.2px;
    font-family: "Montserrat", sans-serif;
  }
  
  .cert-card .cert-hover_content {
    overflow: hidden;
    max-height: 0;
    transform: translateY(1em);
    transition: all 0.55s ease;
  }
  
  .cert-card .cert-hover_content p {
    margin: 1.5em 0 0;
    color: #fff3c7;
    line-height: 1.4em;
    font-family: "Montserrat", sans-serif;;
  }
  
  .cert-card:hover {
    width: 24em;
    box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
  }
  
  .cert-card:hover::before {
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
    transition-delay: 0;
  }
  
  .cert-card:hover::after {
    width: 0;
    opacity: 0;
    transition: width 0 ease;
  }
  
  .cert-card:hover .cert-logo {
    margin-bottom: 0.5em;
  }
  
  .cert-card:hover .cert-hover_content {
    max-height: 10em;
    transform: none;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .cert-card {
      width: 90%;
      margin-bottom: 2em;
    }
  }