.edu-exp-timeline {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}

.education-timeline,
.experience-timeline {
  flex: 1;
}

.exp-section-header {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  color: #fff3c7;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: -50px;
}

.testimonial-Contact {
  display: flex;
  flex-direction: row;
  background-color: #1b1b1b;
  /* justify-content: space-between; */
  animation: moveRight 30s linear infinite;
}

.skills {
  margin-top: 150px;
}

.services {
  margin-top: 90px;
}

.projects {
  margin-top: 150px;
}

@media (max-width: 768px) {
  .edu-exp-timeline {
    flex-direction: column;
  }

  .testimonial-Contact {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .testimonial-Contact {
    flex-direction: column;
  }
}
